@model IEnumerable<Maui.Models.Ordine>

@{
    ViewData["Title"] = "Index";
}

<h1>Elenco Ordini</h1> <!-- <a asp-action="Create" class="btn BOP-btn-verde BOP-btn">Aggiungi nuovo ordine</a> -->

<div>
    @foreach (var item in Model)
    {
        <div class="BOP-card">
            <h5 class="card-title BOP-card-title"><b>Numero Ordine:</b> @Html.DisplayFor(modelItem => item.IdOrdine)</h5>
            <div class="row">
               
                <div class="col-md-6">
                       @foreach (var prodotto in item.ProdottoAcquistato)
                    {
                        <p><b>Prodotto:</b> @prodotto.Prodotto.NomeProdotto <b>Quantità:</b> @prodotto.Quantita</p>
                       
                    }
                </div>
                <div class="col-md-6 ">
                    <div class="card-body BOP-card-body">
                        <p class="card-text BOP-card-text"><b>Indirizzo:</b>@Html.DisplayFor(modelItem => item.IndirizzoDiConsegna)</p>
                        <p class="card-text BOP-card-text"><b>Data Ordine:</b> @Html.DisplayFor(modelItem => item.DataOrdine)</p>
                        <p class="card-text BOP-card-text">
                            <b>Evaso:</b>
                            <input type="checkbox" checked="@item.IsEvaso" />
                        </p>
                        <p class="card-text BOP-card-text"><b>Nota:</b> @Html.DisplayFor(modelItem => item.Nota)</p>
                        <p class="card-text BOP-card-text"><b>Utente:</b> @Html.DisplayFor(modelItem => item.Utente.Password)</p>
                        <a asp-action="Delete" asp-route-id="@item.IdOrdine" class="btn btn-danger BOP-btn">Delete</a>

                    </div>
                </div>
                <!--
                <div class="col-md-4 BOP-col-md-4">
                    
                    <a asp-action="Edit" asp-route-id="@item.IdOrdine" class="btn BOP-btn-verde BOP-btn">Edit</a>
                    <br />
                    <a asp-action="Details" asp-route-id="@item.IdOrdine" class="btn BOP-btn-sabbia BOP-btn">Details</a>
                    <br />
                    <a asp-action="Delete" asp-route-id="@item.IdOrdine" class="btn btn-danger BOP-btn">Delete</a>
                    </div>-->
            </div>
        </div>
    }
</div>

