<div>
    <div class="d-flex justify-content-between mb-3">
        <h2>Carrello</h2>
    </div>
    <hr />
    <div class="row">
        @if (Model != null)
        {
            decimal total = 0;
            foreach (var item in Model)
            {
                <div class="order-card row">
                    <div class="order-details col-6">
                        <h5 class="order-id">Prodotto ID: @item.IdProdotto</h5>
                        <p class="order-info">
                            <span class="info-label"><b>Nome Prodotto:</b></span> @item.NomeProdotto <br />
                            <span class="info-label"><b>Prezzo:</b></span> @item.PrezzoProdotto € <br />
                            <span class="info-label"><b>Quantità:</b></span> @item.Quantita <br />
                            <span class="info-label"><b>Totale:</b></span> @((item.PrezzoProdotto * item.Quantita).ToString("F2")) € <br />
                        </p>
                    </div>
                    <div class="ordered-products col-6">
                        <img src="@item.ImgProdotto" class="Cart-img img-fix card-img-top" alt="...">
                        <select id="quantity-@item.IdProdotto" onchange="updateQuantity(@item.IdProdotto)" class=" form-select-beer my-2">
                            @for (int i = 1; i <= 6; i++)
                            {
                                if (i == item.Quantita)
                                {
                                    <option selected value="@i">@i</option>
                                }
                                else
                                {
                                    <option value="@i">@i</option>
                                }
                            }
                        </select>
                        <button class="btn btn-danger text-center" onclick="removeFromCart(@item.IdProdotto)">Rimuovi</button>
                    </div>
                </div>
                total += item.PrezzoProdotto * item.Quantita;
            }
            
                <div class="order-card Cart-Total-Card card">
                    <div class="card-body">
                        <h4 class="card-title text-center mb-3">Totale: @total €</h4>
                        <form method="post" asp-action="RiepilogoOrdine">
                            <input type="submit" value="ORDINA" class="btn btn-success" />
                        </form>
                    </div>
                </div>
            
        }
        else
        {
            <p>Il carrello è vuoto</p>
        }
    </div>
</div>


<script>


    function updateQuantity(idProdotto) {
        var quantity = $('#quantity-' + idProdotto).val();
        $.ajax({
            url: '/UserOrder/UpdateQuantity',
            type: 'POST',
            data: {
                idProdotto: idProdotto,
                quantity: quantity
            },
            success: function (response) {
                location.reload();
            },
            error: function (response) {
                if (response.status == 400) {
                    alert('Non ci sono abbastanza birre in magazzino.');
                }
            }
        });
    }

    function removeFromCart(idProdotto) {
        $.ajax({
            url: '/UserOrder/RemoveFromCart',
            type: 'POST',
            data: {
                idProdotto: idProdotto
            },
            success: function (response) {
                location.reload();
            }
        });
    }

</script>