
@model Maui.Models.Prodotto

<h2>@Model.NomeProdotto</h2>

<img src="@Model.ImgProdotto" alt="@Model.NomeProdotto" />

<p>@Model.PrezzoProdotto €</p>

<p>@Model.Stile</p>

<p>@Model.Birrificio</p>

<p>@Model.Descrizione</p>

<p>@Model.Volume</p>

<p>@Model.Gradazione</p>

<p>@Model.Nazione</p>

<p>@Model.QuantitaProdotto disponibili</p>
