@model IEnumerable<Maui.Models.Ordine>

@{
    ViewData["Title"] = "Cronologia Ordini";
}

<div class="order-history">
    <h4>Cronologia Ordini</h4>

    @if (Model.Any())
    {
        @foreach (var ordine in Model)
        {
            <div class="order-card row">
                <div class="order-details col-6">
                    <h5 class="order-id">Ordine ID: @ordine.IdOrdine</h5>
                    <p class="order-info">
                        <span class="info-label"><b>Indirizzo di consegna:</b></span> @ordine.IndirizzoDiConsegna <br />
                        <span class="info-label"><b>Data ordine:</b></span> @ordine.DataOrdine <br />
                        <span class="info-label"><b>Stato:</b></span> @(ordine.IsEvaso ? "Evaso" : "Non Ancora Evaso") <br />
                        <span class="info-label"><b>Nota:</b></span> @ordine.Nota <br />
                        <span class="info-label"><b>Prezzo totale:</b></span> @ordine.PrezzoTotale € <br />
                    </p>
                </div>
                <div class="ordered-products col-6">
                    <h5>Prodotti acquistati:</h5>
                    <ul>
                        @foreach (var prodotto in ordine.ProdottoAcquistato)
                        {
                            <li><b>@prodotto.Prodotto.NomeProdotto</b> - Qta: @prodotto.Quantita</li>
                        }
                    </ul>
                </div>
            </div>
        }
    }
    else
    {
        <p>Nessun ordine da mostrare.</p>
    }
</div>
