@model Maui.Models.Prodotto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Prodotto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeProdotto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeProdotto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImgProdotto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImgProdotto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrezzoProdotto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrezzoProdotto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantitaProdotto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantitaProdotto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descrizione)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descrizione)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Volume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Volume)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gradazione)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gradazione)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Birrificio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Birrificio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nazione)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nazione)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdProdotto">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
