@model IEnumerable<Maui.Models.Prodotto>

@{
    ViewData["Title"] = "Index";
}

<h1>Elenco Prodotti</h1>  <a asp-action="Create" class="btn BOP-btn-verde BOP-btn">Aggiungi nuovo prodotto</a>


<div>
    @foreach (var item in Model)
    {
        <div class="BOP-card">
            <div class="row BOP-row">
                <h5 class="card-title BOP-card-title">@Html.DisplayFor(modelItem => item.NomeProdotto)</h5>
                <div class="col-md-4 BOP-col-md-4">
                    <img class="card-img-top BOP-card-img-top" src="@item.ImgProdotto" alt="Immagine Prodotto">
                    <p class="card-text BOP-card-text">@Html.DisplayFor(modelItem => item.Descrizione)</p>

                </div>
                <div class="col-md-4 BOP-col-md-4">
                    <div class="card-body BOP-card-body">

                        <p class="card-text BOP-card-text"><b>Prezzo:</b> @Html.DisplayFor(modelItem => item.PrezzoProdotto)</p>
                        <p class="card-text BOP-card-text"><b>Quantità:</b> @Html.DisplayFor(modelItem => item.QuantitaProdotto)</p>
                        <p class="card-text BOP-card-text"><b>Stile:</b> @Html.DisplayFor(modelItem => item.Stile)</p>
                        <p class="card-text BOP-card-text"><b>Volume:</b> @Html.DisplayFor(modelItem => item.Volume)</p>
                        <p class="card-text BOP-card-text"><b>Gradazione:</b> @Html.DisplayFor(modelItem => item.Gradazione)</p>
                        <p class="card-text BOP-card-text"><b>Birrificio:</b> @Html.DisplayFor(modelItem => item.Birrificio)</p>
                        <p class="card-text BOP-card-text"><b>Nazione:</b> @Html.DisplayFor(modelItem => item.Nazione)</p>
                    </div>
                </div>
                <div class="col-md-4 BOP-col-md-4">
                    <a asp-action="Edit" asp-route-id="@item.IdProdotto" class="btn BOP-btn-verde BOP-btn">Edit</a>
                    <br />
                    <a asp-action="Details" asp-route-id="@item.IdProdotto" class="btn BOP-btn-sabbia BOP-btn">Details</a>
<br />
                    <a asp-action="Delete" asp-route-id="@item.IdProdotto" class="btn btn-danger BOP-btn">Delete</a>
                </div>
            </div>
        </div>

    }
</div>